RewriteEngine On

RewriteCond %{QUERY_STRING} ^i=1$ [NC]
RewriteRule ^$ /? [L,R=301]

RewriteCond %{QUERY_STRING} ^i=2$ [NC]
RewriteRule ^$ /? [L,R=301]

Options +MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]